body {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Generic*/

.display-none {
    display: none !important;
}

/*Modal*/

.modal {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    height: 200px;
    width: 300px;
    padding: 16px;
    box-sizing: border-box;
    background: white;
    z-index: 100;
    box-shadow: 0 0 100px 0 rgba(0,0,0,0.75);
}


